/* MOBILE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 24px 0;
}

.img {
  width: 300px;
  height: 296px;
  margin-bottom: 24px;
}

.title {
  color: var(--color-primary-white, #fff);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 16px;
}

.subtitle {
  color: var(--color-primary-gray, #b6b6b6);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  margin-bottom: 24px;
}

.navigation {
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  margin-bottom: 40px;
}

.signinBtn {
  display: block;
  width: 142px;
  padding: 8px 10px;
  border-radius: 12px;
  text-decoration: none;
  background: var(--color-primary-green-lite, #e3ffa8);
  color: var(--color-primary-black-2, #0f0f0f);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
}

.signupBtn {
  display: block;
  width: 142px;
  padding: 8px 10px;
  border-radius: 12px;
  text-decoration: none;
  background: inherit;
  color: var(--color-primary-white, #fff);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
}

.advantages {
  color: var(--color-primary-green-lite, #e3ffa8);
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 16px;
}

.advantage {
  color: var(--color-primary-white, #fff);
  font-size: 14px;
  line-height: 1.43;
}

/* TABLET */
@media screen and (min-width: 834px) {
  .wrapper {
    padding: 40px 0;
  }

  .img {
    width: 380px;
    height: 376px;
    margin-bottom: 80px;
  }

  .title {
    text-align: center;
    font-size: 30px;
    line-height: 1.2;
  }

  .subtitle {
    width: 444px;
    text-align: center;
    font-size: 22px;
    line-height: 1.45;
  }

  .navigation {
    margin-bottom: 80px;
  }

  .signinBtn {
    width: 192px;
  }

  .signupBtn {
    width: 192px;
  }

  .advantages {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 32px;
    width: 444px;
  }

  .advantageLi:nth-child(2n + 1) {
    width: 234px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
  .wrapper {
    flex-direction: row;
    column-gap: 104px;
    align-items: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .img {
    width: 592px;
    height: 588px;
    margin-bottom: 0;
  }

  .title {
    text-align: start;
  }

  .subtitle {
    text-align: start;
  }

  .navigation {
    text-align: start;
  }

  .signinBtn {
    width: 212px;
  }

  .signupBtn {
    width: 212px;
  }

  .advantages {
    flex-direction: column;
  }

  .advantage {
    width: 100%;
  }
}
