/* MOBILE */
.lowContainer {
  width: 300px;
  margin: 20px auto 60px auto;
}

/* TABLET */
@media screen and (min-width: 834px) {
  .lowContainer {
    width: 780px;
    margin-bottom: 40px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
  .lowContainer {
    display: flex;
    justify-content: space-between;
    width: 1372px;
    margin-bottom: 52px;
  }
}
