/* MOBILE */
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 24px 0;
}

.img {
  width: 300px;
  height: 312px;
  margin-bottom: 24px;
}

.title {
  color: var(--color-primary-white, #fff);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 16px;
}

.trumb {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.photo {
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.buttonsDeck {
  display: none;
}

.inputText {
  background-color: transparent;
  color: #ffffff;
}

.dmcx {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileSettings {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 10px;
  margin-top: 76px;
}

.settingsStats {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
}

.settingsDownloadPhoto {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 12px;
  margin-bottom: 40px;
}

.inputText {
  width: 95%;
  border: 1px solid #b6b6b6;
  border-radius: 12px;
  padding: 8px 10px;
  margin-bottom: 40px;
  margin-top: 12px;
}

.settingsGenders {
  display: flex;
  gap: 12px;
  margin-bottom: 40px;
  margin-top: 12px;
}

.gender {
  display: flex;
  gap: 8px;
}

.gender p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}

.radioSettings {
  display: flex;
  gap: 8px;
}

.settingActivity {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;
}

.settingsSaveBTN {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px 10px;
  border-radius: 12px;
  border: none;
  background-color: #e3ffa8;
}

.settingsCancelBTN {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px 10px;
  border-radius: 12px;
  border: none;
  background-color: transparent;
  color: #b6b6b6;
}

.settingsButtonSAVEText {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  background-color: #e3ffa8;
  color: #0f0f0f;
}

.settingsButtonCANCELEDText {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
}

/* TABLET */
@media screen and (min-width: 834px) {
  .trumb {
    margin-top: 24px;
  }

  .wrapper {
    padding: 40px 0;
  }

  .img {
    width: 380px;
    height: 396px;
    margin-bottom: 80px;
  }

  .title {
    font-size: 30px;
    line-height: 1.2;
  }

  .profileSettings {
    margin-left: 0;
    font-size: 30px;
    line-height: 1.2;
    margin-top: 124px;
  }

  .inputText {
    width: 212px;
    margin-bottom: 0;
  }
  .inputTextError {
    border: 2px solid #e74a3b;
  }

  .input::placeholder {
    color: var(--color-primary-grey, #b6b6b6);
    font-size: 14px;
    line-height: 1.43;
  }

  .settingsInputs {
    display: flex;
    margin: 0 auto;
    width: 70%;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  .settingActivity {
    width: 580px;
    margin: 0 auto;

    margin-bottom: 250px;
  }

  .settingsSaveBTN {
    width: 212px;
  }

  .settingsCancelBTN {
    width: 212px;
  }

  .buttons {
    display: none;
  }

  .buttonsDeck {
    display: flex;
    flex-direction: row-reverse;
    height: 36px;
    gap: 12px;
  }

  .settingsDownloadPhoto {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
  .trumb {
    margin-top: 20px;
  }

  .wrapper {
    flex-direction: row;
    column-gap: 160px;
    align-items: start;
    padding-left: 116px;
  }

  .img {
    width: 536px;
    height: 560px;
    margin-bottom: 0;
  }

  .title {
    text-align: start;
  }

  .settingsInputs {
    width: 572px;
    gap: 60px;
    row-gap: 40px;
  }

  .settingActivity {
    margin-bottom: 10px;
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .profileSettings {
    height: max-content;
    display: block;
    width: 220px;
    position: absolute;
    left: 30px;
    margin-top: 20px;
  }

  .buttons {
    right: 52px;
  }
  .radioSettings {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pForAcrivity {
    width: 560px;
  }
}
button:disabled,
.settingsSaveBTN:disabled {
  background-color: #b6b6b6;
}
