.foodWrapper {
  width: 300px;
  height: 410px;
}
.foodHead {
  color: var(--color-primary-white, #fff);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 6px;
}
.graphWrapper {
  width: 300px;
  height: 380;
  background-color: #0f0f0f;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 12px;
  border-radius: 12px;
}

.totalCalorieWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-top: 12px;
}
.carboWrapper,
.protWrapper,
.fatWrapper {
  display: flex;
  align-items: center;
}
.protWrapper {
}
.fatWrapper {
}
.itemWrapper {
  margin-left: 12px;
}
.nutritionWrapper {
  display: flex;
  margin-top: 2px;
}
.calorieHead {
  color: var(--color-primary-white, #fff);

  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 2px;
}
.goalWrapper,
.leftWrapper {
  color: var(--color-primary-white, #fff);

  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.leftWrapper {
  margin-left: 12px;
}
.carboSpan {
  color: var(--color-primary-grey, #b6b6b6);

  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-left: 4px;
}
@media screen and (min-width: 834px) {
  .foodWrapper {
    width: 780px;
    height: 278px;
  }
  .foodHead {
    font-size: 22px;
    line-height: 32px;
  }
  .graphWrapper {
    display: flex;
    width: 780px;
    height: 240px;
    padding: 36px 40px;
  }
  .totalCalorieWrapper {
    margin-top: 0px;
    margin-left: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .foodWrapper {
    width: 560px;
  }
  .graphWrapper {
    width: 560px;
  }
}
