.caloriesChart {
  height: 412px;
  width: 706px;
  position: relative;
}

.chart {
  width: 676px;
  padding: 25px 20px 24px 14px;
  background-color: #0F0F0F;
  border-radius: 8px;
  position: relative;

  overflow-x: auto;

}

.caloriesTitle {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 9px;
  /* position: fixed; */
}

.chartTitle {
  margin-right: 58px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.chartSubtitle {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px
}

.average {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: var(--color-primary-gray);
  margin-left: 8px;
}

/* 
.chart::-webkit-scrollbar {
  width: 6px;
}

.chart::-webkit-scrollbar-track {
  background: rgb(55, 55, 55);
  border-radius: 12px;
}

.chart::-webkit-scrollbar-thumb {
  background-color: #050505;
  border-radius: 30px;
} */

@media screen and (min-width: 834px) and (max-width: 1439px) {
  .caloriesChart {
    height: 422px;
    width: 706px;
    margin-bottom: 65px;
  }

  .chart {
    width: 780px;
    height: 415px;
  }

  .chartTitle {
    margin-right: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .caloriesChart {
    margin-right: 25px;
    width: 676px;
    height: 420px;
    margin-bottom: 0px;
  }

}