/* ::-webkit-scrollbar {
  height: 8px;
  width: 94px;

  background-color: var(--bg-secondary);
  border-radius: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
} */

.caloriesChart {
  height: 422px;
  width: 706px;
  position: relative;
  /* margin-right: 20px; */
  /* border: solid 1px red; */
  /* padding: 25px 20px 6px 14px; */
}

.chart {
  /* height: 382px; */
  width: 676px;
  padding: 25px 20px 24px 14px;
  background-color: #0F0F0F;
  border-radius: 8px;
  position: relative;

  overflow-x: auto;
  /* overflow-block: visible; */

  /* overflow-y: hidden; */
  /* scrollbar-color: #050505 #0F0F0F;
  scrollbar-width: thin; */
}

/* #chartjs-tooltip {
  opacity: 1;
  position: absolute;
  background: rgba(255, 255, 255, .9);
  box-shadow: 2px 2px 6px rgba(227, 255, 168, 0.1);
  color: #333;
  border-radius: 4px;
  padding: 50px;
  width: 140px;
  min-height: 150px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 5%);
} */

.caloriesTitle {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 9px;
}

.chartTitle {
  margin-right: 58px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.chartSubtitle {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px
}

.average {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: var(--color-primary-gray);
  margin-left: 8px;
}

.chart::-webkit-scrollbar {
  width: 6px;
}

.chart::-webkit-scrollbar-track {
  background: rgb(55, 55, 55);
  border-radius: 12px;
}

.chart::-webkit-scrollbar-thumb {
  background-color: #050505;
  border-radius: 30px;
}

/* .track-vertical {
  top: 2px;
  bottom: 2px;
  right: 2px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.111);
}

.track-vertical .thumb-vertical {
  position: relative;
  display: block;
  width: 100%;
  cursor: pointer;
  border-radius: inherit;
  background-color: rgba(123, 154, 255, 0.418);
}

.track-horizontal {
  position: absolute;
  height: 6px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  border-radius: 3px;
}

.track-horizontal .thumb-horizontal {
  position: relative;
  display: block;
  height: 100%;
  cursor: pointer;
  border-radius: inherit;
  background-color: rgba(125, 149, 255, 0.993);
}

.view {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: scroll;
  margin-right: -15px;
  margin-bottom: -17px !important;
} */

/* .track-horizontal {
  background-color: blue;
  width: 100%;
  left: 0px;
  bottom: 0px;
  height: 10px !important;
} */

/* @media screen and (max-width: 833px) {
  width: 310px;
  padding-bottom: 8px;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    height: 8px;
    width: 94px;

    background-color: var(--bg-secondary);
    border-radius: 12px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
  }
} */

/* @media screen and (max-width: 833px) {
  .chart {
    width: 780px;
    position: relative;
    
  } */

/* .chart>canvas {
    touch-action: cross-slide-x;
  } */

/* .scrollable {
    width: 780px; */
/* position: relative; */
/* overflow-x: scroll; */
/* } */
/* } */

/* .custom-scrollbars__content {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.custom-scrollbars__content::-webkit-scrollbar {
  display: none;
} */

/* .scrollContainer::webkit-scrollbar {
  height: 6px;
} */

/* .chart>canvas {
  width: 80%;
} */
/* @media screen and (max-width: 833px) {
  .chart {
    overflow-x: aut;
  }

} */

@media screen and (min-width: 834px) and (max-width: 1439px) {
  .caloriesChart {
    height: 422px;
    width: 706px;
    margin-bottom: 65px;
  }

  .chart {
    width: 780px;
    height: 415px;
  }

  .chartTitle {
    margin-right: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .caloriesChart {
    margin-right: 20px;
    width: 676px;
    height: 420px;
    margin-bottom: 0px;
  }

}