.weightChart {
  height: 110px;
  width: 1372px;
  margin-top: 25px;
}

.chart {
  width: 300px;
  overflow-x: auto;
}

.weightTitle {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 14px;
  line-height: 1.43;
  margin-bottom: 16px;
}

.chartTitle {
  margin-right: 78px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.chartSubtitle {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px
}


.list {
  display: flex;
  justify-content: space-between;
}

.item {
  text-align: center;
}

.dataTitle {
  font-size: 10px;
  line-height: 1.4;
}

.average {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: var(--color-primary-gray);
  margin-left: 8px;
}


@media screen and (min-width: 834px) {
  .weightChart {
    height: 130px;
    width: 780px;
    margin-top: 0px;
  }

  .chart {
    width: 780px;
    height: 130px;
  }

  .chartTitle {
    margin-right: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .weightChart {
    height: 130px;
    width: 1372px;
  }

  .chart {
    width: 1372px;
  }

  .chartTitle {
    margin-right: 58px;
  }
}

.chart::-webkit-scrollbar {
  height: 8px;
}

/* Стилизация бегунка (ползунка) скроллбара */
.chart::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255, 0.1);
  /* Цвет бегунка */
  border-radius: 12px;
  /* Скругление углов бегунка */
}

/* Стилизация трека (фона) скроллбара */
.chart::-webkit-scrollbar-track {
  background-color: rgb(15, 15, 15, 1);
  /* Цвет фона трека */
}