/* MOBILE */
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 24px 0;
}

.navigation {
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  margin-bottom: 40px;
}

.img {
  width: 300px;
  height: 296px;
  margin-bottom: 24px;
}

.title {
  color: var(--color-primary-white, #fff);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 16px;
}

.subtitle {
  color: var(--color-primary-gray, #b6b6b6);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.input {
  width: 100%;
  padding: 8px 10px;
  border-radius: 12px;
  border: 1px solid var(--color-primary-green-lite, #e3ffa8);
  background: var(--color-primary-black-2, #0f0f0f);
  color: var(--color-primary-white, #fff);
  font-size: 14px;
  line-height: 1.43;
}

.input::placeholder {
  color: var(--color-primary-grey, #b6b6b6);
  font-size: 14px;
  line-height: 1.43;
}

.signinBtn {
  display: block;
  width: 100%;
  padding: 8px 10px;
  border-radius: 12px;
  text-decoration: none;
  background: var(--color-primary-green-lite, #e3ffa8);
  color: var(--color-primary-black-2, #0f0f0f);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  margin-bottom: 10px;
}

.forgotPassword {
  text-align: center;
  font-size: 14px;
  line-height: 1.43;
  color: var(--color-primary-gray, #b6b6b6);
  text-decoration: none;
  margin-bottom: 50px;
}

.question {
  color: var(--color-primary-grey, #b6b6b6);
  font-size: 14px;
  line-height: 1.43;
  margin-bottom: 16px;
}

.signupBtn {
  display: block;
  width: 142px;
  padding: 8px 10px 8px 0;
  border-radius: 12px;
  text-decoration: none;
  background: inherit;
  color: var(--color-primary-white, #fff);
  text-align: start;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
}

/* TABLET */
@media screen and (min-width: 834px) {
  .wrapper {
    padding: 40px 0;
  }
  .content {
    width: 444px;
  }
  .navigation {
    margin-bottom: 60px;
  }

  .img {
    width: 380px;
    height: 376px;
    margin-bottom: 60px;
  }

  .title {
    text-align: center;
    font-size: 30px;
    line-height: 1.2;
  }

  .subtitle {
    width: 444px;
    text-align: center;
    font-size: 22px;
    line-height: 1.45;
  }
  .form {
    width: 380px;
    margin: 0 auto;
  }
  .signinBtn {
    width: 380px;
    margin-bottom: 10px;
  }

  .signupBtn {
    width: 122px;
  }

  .forgotPassword {
    align-items: center;
    font-size: 14px;
    line-height: 1.43;
    color: var(--color-primary-gray, #b6b6b6);
    text-decoration: none;
    margin-bottom: 250px;
  }

  .questionTrumb {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 32px;
    white-space: nowrap;
  }

  .question {
    margin-bottom: 0;
  }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
  .wrapper {
    flex-direction: row;
    column-gap: 104px;
    align-items: end;
    padding-left: 116px;
    padding-right: 116px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .img {
    width: 592px;
    height: 588px;
    margin-bottom: 0;
  }

  .title {
    text-align: start;
  }

  .subtitle {
    text-align: start;
  }

  .signinBtn {
    width: 212px;
    margin-bottom: 20px;
  }

  .forgotPassword {
    width: 192px;
    font-size: 14px;
    line-height: 1.43;
    color: var(--color-primary-gray, #b6b6b6);
    text-decoration: none;
    align-items: center;
    margin-bottom: 212px;
  }

  .signupBtn {
    width: 122px;
  }

  .form {
    width: 212px;
    margin: 0;
  }

  .navigation {
    text-align: start;
  }
  .questionTrumb {
  padding-left: 0;
  }
}
