/* MOBILE */
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 24px 0;
}

.img {
  width: 300px;
  height: 296px;
  margin-bottom: 24px;
}

.title {
  color: var(--color-primary-white, #fff);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 16px;
}

.subtitle {
  color: var(--color-primary-gray, #b6b6b6);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.label {
  display: flex;
  gap: 8px;
  color: var(--color-primary-white, #fff);
  font-size: 14px;
  line-height: 1.43;
}

.NextBtn {
  display: block;
  width: 100%;
  padding: 8px 10px;
  border-radius: 12px;
  text-decoration: none;
  background: var(--color-primary-green-lite, #e3ffa8);
  color: var(--color-primary-black-2, #0f0f0f);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
}

/* TABLET */
@media screen and (min-width: 834px) {
  .wrapper {
    padding: 40px 0;
  }

  .img {
    width: 380px;
    height: 376px;
    margin-bottom: 80px;
  }

  .title {
    text-align: center;
    font-size: 30px;
    line-height: 1.2;
  }

  .subtitle {
    width: 444px;
    text-align: center;
    font-size: 22px;
    line-height: 1.45;
  }

  .wrappers {
    display: flex;
    gap: 24px;
    justify-content: space-between;
  }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
  .wrapper {
    flex-direction: row;
    column-gap: 104px;
    align-items: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .img {
    width: 592px;
    height: 588px;
    margin-bottom: 0;
  }

  .title {
    text-align: start;
  }

  .subtitle {
    text-align: start;
  }

  .wrappers {
    flex-direction: column;
    gap: 16px;
  }

  .NextBtn {
    width: 212px;
  }
}
