.modalOverly {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.modalContent {
  position: absolute;
  padding-top: 16px;
  padding-left: 12px;
  padding-right: 12px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 266px;
  border-radius: 12px;
  background: var(--color-primary-black-2, #0f0f0f);
  box-shadow: 0px 4px 14px rgba(227, 255, 168, 0.2);
}
.modalHead {
  color: var(--color-primary-white, #fff);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 24px;
}
.modalLabel {
  color: var(--color-primary-white, #fff);

  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}
.modalForm {
  display: flex;
  flex-direction: column;
}
.modalInput {
  color: var(--color-primary-grey, #b6b6b6);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

  width: 276px;
  height: 36px;
  display: flex;
  padding: 8px 10px;
  margin-bottom: 16px;

  align-items: flex-start;

  border-radius: 12px;
  border: 1px solid var(--color-primary-green-lite, #e3ffa8);
  background: var(--color-primary-black-2, #0f0f0f);
}
.modalBtnConfirm,
.modalBtnConfirmAlt {
  color: var(--color-primary-black-2, #0f0f0f);
  text-align: center;

  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;

  width: 276px;
  height: 36px;
  margin-bottom: 16px;
  border-radius: 12px;
  border: 1px solid var(--color-primary-green-lite, #e3ffa8);
  background: var(--color-primary-green-lite, #e3ffa8);
}
.modalBtnCancel,
.modalBtnCancelAlt {
  width: 276px;
  height: 20px;
  background: var(--color-primary-black-2, #0f0f0f);

  color: var(--color-primary-grey, #b6b6b6);
  text-align: center;

  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.modalContentAlt {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  padding-top: 16px;
  padding-left: 12px;
  padding-right: 12px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 350px;
  border-radius: 12px;
  background: var(--color-primary-black-2, #0f0f0f);
  box-shadow: 0px 4px 14px rgba(227, 255, 168, 0.2);
}
.modalHeadAlt {
  color: var(--color-primary-white, #fff);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 12px;
}
.altText,
.altText2 {
  text-align: center;
  color: var(--color-primary-white, #fff);

  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}
.altText2 {
  margin-bottom: 20px;
}
.icons {
  display: flex;
  column-gap: 30px;
}
.modalBtnCancelAlt {
  margin-bottom: 16px;
}
.iconItem:hover {
  transform: rotate(-0.1turn);
}
.iconItem {
  transition: transform 500ms;
}

@media screen and (min-width: 834px) {
  .modalContent {
    width: 338px;
    height: 280px;
    padding-top: 24px;
    padding-left: 40px;
    padding-right: 40;
  }
  .modalHead {
    line-height: 36px;
    font-size: 30px;
  }
}
