.table {
    width: 300px;
    height: 232px;
    border-radius: 12px;
    background-color: #0f0f0f;
    padding: 16px 12px 16px 27px;

    display: flex;
    flex-direction: column;
    column-gap: 16px;

    overflow: auto;
}

.sideBarBox::-webkit-scrollbar {
    width: 6px;
}

.sideBarBox::-webkit-scrollbar-track {
    background: rgb(55, 55, 55);
    border-radius: 12px;
}

.sideBarBox::-webkit-scrollbar-thumb {
    background-color: #050505;
    border-radius: 30px;
}

.targetMeal:not(:last-of-type) {
    margin-bottom: 27px;
}

.recordMealButton {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    color: #e3ffa8;
    font-size: 14px;
    line-height: 1.42;
}

.recordMealIcon {
    stroke: #b6b6b6;
    margin-right: 6px;
}

.btnEdit,
.colorNut {
    color: #b6b6b6;
}

.mealWrap {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.mealAdditionalInfoValue {
    margin-left: 6px;
    color: #b6b6b6;

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.42;
}

.mealItem {
    padding-left: 16px;
    margin-bottom: 16px;
    height: 40px;
}

.foodName {
    width: 178px;
}

.mealNameWrap {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.mealNutritionalWrap {
    display: flex;
    gap: 12px;
}

.mealTypeWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
}

.descriptionWrap {
    display: flex;
    flex-wrap: wrap;
    width: 175px;
    gap: 12px;
}

.mealListItemTitle {
    margin-right: 26px;
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.44;
    text-transform: capitalize;
}

.mealTitleWrapper {
    width: 148px;
    display: flex;
    gap: 12px;
    align-items: center;
}

.mealAdditionalInfoDescription {
    color: #fff;
    font-size: 14px;
    line-height: 1.42;
}

@media screen and (min-width: 834px) {
    .table {
        width: 780px;
        height: 240px;
        padding: 32px 12px 0 27px;
    }

    .mealListItemTitle {
        margin-right: 0;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.45;
    }

    .recordMealButton {
        margin-bottom: 7px;
    }

    .mealItem {
        margin-bottom: 32px;
    }

    .mealTypeWrapper {
        flex-wrap: nowrap;
        gap: 196px;
        margin-bottom: 6px;
    }

    .descriptionWrap {
        flex-wrap: nowrap;
        gap: 20px;
    }

    .mealWrap {
        flex-direction: row;
        gap: 110px;
    }

    .foodName {
        width: 260px;
    }

    .numWrap {
        width: 80px;
    }

    .numWrap:not(:last-of-type) {
        margin-right: 32px;
    }

    .mealNutritionalWrap {
        gap: 0;
    }

    .btnEdit {
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width: 1440px) {
    .table {
        width: 676px;
    }

    .mealTypeWrapper {
        gap: 126px;
    }

    .numWrap:last-of-type {
        width: 55px;
    }

    .mealWrap {
        gap: 32px;
    }
}

button {
    padding: 0;
    border: none;
    font-family: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.table {
    width: 300px;
    height: 232px;
    border-radius: 12px;
    background-color: #0f0f0f;
    padding: 16px 12px 16px 27px;

    display: flex;
    flex-direction: column;
    column-gap: 16px;

    overflow: auto;
}

.sideBarBox::-webkit-scrollbar {
    width: 6px;
}

.sideBarBox::-webkit-scrollbar-track {
    background: rgb(55, 55, 55);
    border-radius: 12px;
}

.sideBarBox::-webkit-scrollbar-thumb {
    background-color: #050505;
    border-radius: 30px;
}

.targetMeal:not(:last-of-type) {
    margin-bottom: 27px;
}

.recordMealButton {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    color: #e3ffa8;
    font-size: 14px;
    line-height: 1.42;
}

.recordMealIcon {
    stroke: #b6b6b6;
    margin-right: 6px;
}

.btnEdit,
.colorNut {
    color: #b6b6b6;
}

.mealWrap {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.mealAdditionalInfoValue {
    margin-left: 6px;
    color: #b6b6b6;

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.42;
}

.mealItem {
    padding-left: 16px;
    margin-bottom: 16px;
    height: 40px;
}

.foodName {
    width: 178px;
}

.mealNameWrap {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.mealNutritionalWrap {
    display: flex;
    gap: 12px;
}

.mealTypeWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
}

.descriptionWrap {
    display: flex;
    flex-wrap: wrap;
    width: 175px;
    gap: 12px;
}

.mealListItemTitle {
    margin-right: 26px;
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.44;
    text-transform: capitalize;
}

.mealTitleWrapper {
    width: 148px;
    display: flex;
    gap: 12px;
    align-items: center;
}

.mealAdditionalInfoDescription {
    color: #fff;
    font-size: 14px;
    line-height: 1.42;
}

@media screen and (min-width: 834px) {
    .table {
        width: 780px;
        height: 240px;
        padding: 32px 12px 0 27px;
    }

    .mealListItemTitle {
        margin-right: 0;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.45;
    }

    .recordMealButton {
        margin-bottom: 7px;
    }

    .mealItem {
        margin-bottom: 32px;
    }

    .mealTypeWrapper {
        flex-wrap: nowrap;
        gap: 196px;
        margin-bottom: 6px;
    }

    .descriptionWrap {
        flex-wrap: nowrap;
        gap: 20px;
    }

    .mealWrap {
        flex-direction: row;
        gap: 110px;
    }

    .foodName {
        width: 260px;
    }

    .numWrap {
        width: 80px;
    }

    .numWrap:not(:last-of-type) {
        margin-right: 32px;
    }

    .mealNutritionalWrap {
        gap: 0;
    }

    .btnEdit {
        display: flex;
        align-items: center;      
        
    }
}

@media screen and (min-width: 1440px) {
    .table {
        width: 676px;
    }

    .mealTypeWrapper {
        gap: 126px;
    }

    .numWrap:last-of-type {
        width: 55px;
    }

    .mealWrap {
        gap: 32px;
    }
}

button {
    padding: 0;
    border: none;
    font-family: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}



/* .sectionDiary ul {
  padding: 0;
  max-width: 100%;
  height: auto;
  border: 0;
} */

.sectionDiary li,
h2,
img,
span,
p {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
    border: 0;
}

.sectionDiary h3 {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
    border: 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #ffffff;
}

.sectionDiary a {
    cursor: pointer;
}

.edit_icon {
    display: none;
}

.sectionDiary {
    padding: 16px 0 40px;
}

.dairy_title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.dairy_title h2 {
    display: flex;
    align-items: center;
    font-size: 24px;
    height: 30px;
    font-weight: 500;
}

.sectionDiary h2 {
    font-family: inherit;
    font-weight: 500;
}

.arrow_rigth {
    margin-right: 4px;
    height: 16px;
    width: 16px;
    color: #b6b6b6;
}

.dairy_wrapper_title {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.icon_dish {
    margin-right: 16px;
}

.dairy_title_breakfast {
    display: flex;
    align-items: center;
}

.dairy_title_lunch {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.dairy_title_dinner {
    display: flex;
    align-items: center;
}

.dairy_title_snack {
    display: flex;
    align-items: center;
}

.dairy_breakfast_list {
    display: flex;
    flex-wrap: wrap;
    width: 77%;
    padding-left: 0px;
}

.dairy_breakfast_item {
    font-size: 14px;
    font-family: inherit;
}

.dairy_breakfast_span {
    color: var(--primary-grey-color);
    margin-left: 4px;
}

.dairy_breakfast_item:not(last-child) {
    margin-bottom: 12px;
}

.dairy_breakfast_item:last-child {
    margin-left: 20px;
}

.dairy_dish_wrapper {
    margin-bottom: 24px;
    margin-top: 24px;
    background-color: #0f0f0f;
    max-height: 450px;        
        overflow-y: auto;
}
.dairy_dish_wrapper::-webkit-scrollbar {
    width: 5px;
    /* Ширина скроллбара */
}

/* Стилизация бегунка (ползунка) скроллбара */
.dairy_dish_wrapper::-webkit-scrollbar-thumb {
    background-color:#121111;
    /* Цвет бегунка */
    border-radius: 5px;
    /* Скругление углов бегунка */
}

/* Стилизация трека (фона) скроллбара */
.dairy_dish_wrapper::-webkit-scrollbar-track {
    background-color: #4d4b4b;
    /* Цвет фона трека */
}

.wrapper_dishes_block {
    display: flex;
    padding: 16px 12px;
    border-radius: 12px;
    background-color: #0f0f0f;    
}

.dairy_add_dish_item {
    display: flex;
    margin-bottom: 6px;
    height: 20px;
    width: 100%;
}

.dairy_add_dish_item:not(:last-child):not(:first-child) {
    margin-bottom: 40px;
}

.record {
    width: 100%;
    height: 46px;
}

.record:not(:last-child) {
    margin-bottom: 9px;
}

.numbers {
    background-color: #0f0f0f;
}
.number {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    margin-right: 16px;
    background-color: #0f0f0f;
}

.number:not(:last-child) {
    margin-bottom: 35px;
    background-color: #0f0f0f;
}

.recordMealText {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.recordMealText img {
    width: 16px;
    height: 16px;
}

.recordMealText p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.dairy_add_dish_item_wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.sectionDiary span {
    margin-right: 16px;
    text-align: start;
}

.dairy_dish_p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    width: 178px;
    height: 20px;
    margin-right: 17px;
}

.dairy_dish_list {
    overflow: hidden;
    background-color: #0f0f0f;
}

.edit_pen {
    margin-right: 6px;
    width: 16px;
    height: 16px;
}

.edit_text {
    width: 27px;
    height: 20px;
}

.dairy_elem_breakfast_list {    
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #b6b6b6;
    margin-bottom: 0px;
}

.dairy_elem_breakfast_span {
    color: #ffffff;
}

.dairy_add_dish {
    color: #fff3b7;
    font-family: inherit;
    margin-left: 6px;
    font-size: 14px;
    font-weight: 500;
}

.dairy_plus {
    color: #fff3b7;
    font-family: inherit;
}

.sectionDiary a {
    display: flex;
    align-items: center;
}

@media (min-width: 834px) {
    .arrow_rigth {
        width: 24px;
        height: 24px;
        margin-right: 12px;
    }

    .sectionDiary h2 {
        font-size: 30px;
        line-height: 36px;
        font-weight: 500;
    }

    .sectionDiary {
        padding-top: 24px;
        padding-bottom: 40px;
    }

    .wrapper_dishes_block {
        width: 100%;
        max-height: 240px;
        /* overflow-y: auto; */
        padding: 32px 14px;
    }

    .sectionDiary h3 {
        font-size: 22px;
        line-height: 32px;
        font-weight: 400;
    }

    .dairy_wrapper {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }

    .dairy_wrapper_title {
        display: flex;
        align-items: center;
        margin-bottom: 6px;
    }

    .dairy_title_breakfast {
        width: 344px;
        /* margin-right: 196px; */
        margin-bottom: 6px;
    }

    .dairy_breakfast_list {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        width: 100%;
    }

    .dairy_breakfast_item:not(last-child) {
        margin-left: 0 !important;
        margin-right: 20px;
        margin-bottom: 0px;
    }

    .dairy_dish_list {
        width: 100%;
        height: 100%;
        background-color: #0f0f0f;
    }

    /* .dairy_add_dish_item:not(:last-child) {
        margin-bottom: 32px;
    } */

    .dairy_add_dish_item:last-child {
        margin-bottom: 0;
    }

    .dairy_elem_list {
        display: flex;
    }

    .edit_pen,
    .edit_text,
    .dairy_elem_span {
        visibility: hidden;
        display: none;
        width: 0;
    }

    .dairy_dish_p {
        font-weight: 400;
        font-size: 14px;
        width: 260px;
    }

    .dairy_elem_breakfast,
    .dairy_elem_breakfast_list {
        display: flex;
        width: 100%;
    }

    .dairy_elem_breakfast_item {
        display: flex;
        /* flex-wrap: nowrap; */
        /* margin-right: 6px; */
    }

    .dairy_icons_edit {
        display: flex;
        
    }

    .dairy_breakfast_item,
    .edit_icon {
        display: flex;
        align-items: center;
    }

    .edit_icon {
        margin-right: 6px;
    }

    .dairy_dish_wrapper {
        margin-bottom: 24px;
        margin-top: 24px;
        background-color: #0f0f0f;
    
                max-height: 450px;
                overflow-y: auto;
                }
        
                .dairy_dish_wrapper::-webkit-scrollbar {
                    width: 5px;
                    /* Ширина скроллбара */
                }
        
                /* Стилизация бегунка (ползунка) скроллбара */
                .dairy_dish_wrapper::-webkit-scrollbar-thumb {
                    background-color: #121111;
                    /* Цвет бегунка */
                    border-radius: 5px;
                    /* Скругление углов бегунка */
                }
        
                /* Стилизация трека (фона) скроллбара */
                .dairy_dish_wrapper::-webkit-scrollbar-track {
                    background-color: #4d4b4b;
                    /* Цвет фона трека */
                }

    .dairy_title_lunch {
        width: 611px;
        /* margin-right: 234px; */
        margin-bottom: 6px;
    }

    .dairy_title_dinner {
        width: 344px;
        /* margin-right: 229px; */
    }

    .dairy_title_snack {
        width: 344px;
        /* margin-right: 233px; */
    }
}

@media (min-width: 1440px) {
    .wrapper_dishes_block {
        width: 676px;
    }

    .sectionDiary {
        padding-top: 20px;
        padding-bottom: 52px;
    }

    .wrapper {
        display: flex;
        /* flex-wrap: wrap; */
        /* width: 100%; */
        gap: 20px;
        
    }

    .wrapper_dishes {
        display: block;
        width: 100%;
        align-items: center;
        
    }

    .dairy_dish_wrapper {
        margin-bottom: 20px;
        margin-top: 0px;
        max-height: 330px;
        background-color: #0f0f0f;
            /* overflow-y: auto; */
       
    
                max-height: 450px;
                overflow-y: auto;
                }
        
                .dairy_dish_wrapper::-webkit-scrollbar {
                    width: 5px;
                    /* Ширина скроллбара */
                }
        
                /* Стилизация бегунка (ползунка) скроллбара */
                .dairy_dish_wrapper::-webkit-scrollbar-thumb {
                    background-color: #121111;
                    /* Цвет бегунка */
                    border-radius: 5px;
                    /* Скругление углов бегунка */
                }
        
                /* Стилизация трека (фона) скроллбара */
                .dairy_dish_wrapper::-webkit-scrollbar-track {
                    background-color:#4d4b4b;
                    /* Цвет фона трека */
                }

    .dairy_elem_breakfast_span {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
    }

    .dairy_wrapper_dishes {
        width: 679px;
        /* height: 240px; */
    }

    .dairy_wrapper {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        background-color: #050505;
        /* width: 100%; */
    }

    .dairy_wrapper_title {
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }

    .dairy_title_breakfast {
        width: 274px;
        /* margin-right: 126px; */
        margin-bottom: 6px;
    }

    .dairy_title_lunch {
        width: 442px;
        /* margin-right: 164px; */
        margin-bottom: 6px;
    }

    .dairy_title_dinner {
        width: 274px;
        /* margin-right: 159px; */
        margin-bottom: 6px;
    }

    .dairy_title_snack {
        width: 274px;
        /* margin-right: 163px; */
        margin-bottom: 6px;
    }

    .dairy_breakfast_list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .dairy_breakfast_item,
    .edit_icon {
        display: flex;
        align-items: center;
    }

    .dairy_breakfast_item:not(last-child) {
        margin-left: 0 !important;
        margin-right: 20px;
        margin-bottom: 6px;
    }

    /* .dairy_add_dish_item:not(:last-child) {
        margin-bottom: 32px;
    } */

    .dairy_add_dish_item:last-child {
        margin-bottom: 0;
    }

    .dairy_elem_list {
        display: flex;
        /* flex-wrap: wrap; */
        /* align-items: center; */
    }

    .edit_pen,
    .edit_text,
    .dairy_elem_span {
        visibility: hidden;
    }

    .dairy_dish_p {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }

    .dairy_elem_breakfast,
    .dairy_elem_breakfast_list {
        display: flex;
        width: 100%;
    }

    .dairy_elem_breakfast_item {
        display: flex;
        /* flex-wrap: nowrap; */
        /* margin-right: 6px; */
    }

    .edit_icon {
        margin-right: 6px;
    }

    /* .dairy_dish_list {
    padding: 32px 14px;
    border: 0;
  } */

    .dairy_elem_breakfast_list {
        margin: 0;
    }

    .dairy_elem_breakfast_item:not(:last-child) {
        /* margin-right: 32px; */
        margin-left: 32px;
    }

    .dairy_breakfast_span:not(last-child) {
        margin-right: 16px !important;
    }

    .dairy_icons_edit {
        display: flex;
        /* align-items: center; */
    }
}