@import-normalize; /* bring in normalize.css styles */
:root {
  /* Font colors */
  --color-primary-white: #ffffff;
  --color-primary-gray: #b6b6b6;

  /* Background colors */
  --color-primary-black: #050505;
  --color-primary-green-lite: #e3ffa8;

  /* Water indicator */
  --color-primary-violet: #b6c3ff;

  /* Food indicator*/
  --color-primary-light-green: #45ffbc;

  /* Modal */
  --color-primary-black-2: #0f0f0f;

  /* Secondary */
  --color-secondary-gray-1: #292928;
  --color-secondary-pink: #ffc4f7;
  --color-secondary-yellow: #fff3b7;

  /* Fonts */
  --main-font: 'Poppins', sans-serif;

  /* Animation */
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-primary-black);
  color: var(--color-primary-white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

/* MOBILE */

.container {
  width: 320px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* TABLET */
@media screen and (min-width: 834px) {
  .container {
    width: 834px;
    padding-left: 27px;
    padding-right: 27px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-left: 34px;
    padding-right: 34px;
  }
}

/* input */

input[type='radio'],
label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

input[type='radio'] {
  position: relative;
  height: 12px;
  width: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

input[type='radio']::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-primary-black-2, #0f0f0f);
  border: 1.5px solid var(--color-primary-grey, #b6b6b6);
}

input[type='radio']:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--color-primary-green-lite, #e3ffa8);
  transform: translate(-50%, -50%);
  visibility: visible;
}
