:root {
  /* Font colors */
  --color-primary-white: #ffffff;
  --color-primary-gray: #b6b6b6;

  /* Background colors */
  --color-primary-black: #050505;
  --color-primary-green-light: #e3ffa8;

  /* Water indicator */
  --color-primary-violet: #b6c3ff;

  /* Food indicator*/
  --color-primary-light-green: #45ffbc;

  /* Modal */
  --color-primary-black-2: #0f0f0f;

  /* Secondary */
  --color-secondary-gray-1: #292928;
  --color-secondary-pink: #ffc4f7;
  --color-secondary-yellow: #fff3b7;

  /* Fonts */
  --main-font: 'Poppins', sans-serif;

  /* Animation */
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
