.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteiner {
  max-width: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.conteiner .steps {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.steps .circle {
  display: flex;
  height: 38px;
  width: 38px;
  align-items: center;
  justify-content: center;

  border: 2px solid var(--color-primary-green-lite, #e3ffa8);
  border-radius: 12px;
  color: var(--color-primary-white, #fff);
  font-size: 14px;
  line-height: 1.43;
  background: #050505;
  z-index: 2;
  transition-delay: 100ms;
  font-size: 14px;
}
.steps .circle.vised {
  transition-delay: 100ms;
  border-color: #cdf871;
  color: #c6fe4e;
}
.steps .circle.vised:hover {
  /* transition-delay: 100ms; */
  background: #cdf871;
  border-color: #050505;
  color: #050505;
  transition: background 0.4s ease, border-color 0.4s ease, color 0.4s ease; /* Додайте анімацію на :hover */
}
.steps .circle.active {
  /* transition-delay: 100ms; */
  background: #cdf871;
  border-color: #050505;
  color: #050505;
  transition: background 0.4s ease, border-color 0.4s ease, color 0.4s ease; /* Додайте анімацію на :hover */
}

.steps .progressBar {
  position: absolute;
  height: 4px;
  width: 100%;
  background: #e3ffa8;
  z-index: 1;
  transition: width 0.5s ease;
}

.progressBar .indicator {
  position: absolute;
  height: 100%;
  width: 0%;
  transition: width 0.5s ease;
}
