/* mobile menu 0- 349 */

.modalOverly {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 833px) {
  .placeholderData {
    width: 276px !important;
  }

  .containerMobile {
    width: 300px;
    height: 580px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(15, 15, 15, 1);
    overflow: auto;
    box-shadow: 0px 4px 14px rgba(227, 255, 168, 0.2);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* position: fixed;
    top: 50%;
    left: 50%; */
  }
  .remove {
    background-color: rgba(15, 15, 15, 1);
    color: rgba(227, 255, 168, 1);
    font-size: 14px;
    line-height: 20px;
    border: 1px solid transparent;
  }
  .img {
    margin-top: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
    width: 85px;
    height: 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: rgba(255, 255, 255, 1);
  }
  .img {
    margin-top: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
    width: 268px;
    font-weight: 500;
    font-size: 25px;
    line-height: 36px;
    color: rgba(255, 255, 255, 1);
  }
  .containerDiary {
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .flexContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    display: inline-flex;
  }
  .containerLabel {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .divBreakfastModal {
    margin-top: 20px;
    align-items: center;
    margin-bottom: 20px;
  }
  .diary {
    margin-right: 10px;
    width: 57px;
    height: 32px;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: rgba(255, 255, 255, 1);
  }
  .link {
    display: flex;
    align-items: center;
  }
  .openModal {
    /* width: 150px; */
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: rgba(227, 255, 168, 1);
    background-color: black;
    border: 1px solid transparent;

    cursor: pointer;
    justify-content: center;
    text-align: center;
    display: block;
  }

  .diaryMobile {
    display: flex;
    margin-top: 20px;
    align-items: center;
    margin-bottom: 20px;
  }
  .diaryBreakfast {
    width: 100px;
    height: 24px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    margin-left: 20px;
    margin-right: 10px;
  }
  .linkFoodMobile {
    display: grid;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    margin-bottom: 20px;
  }
  .carbonohidratesMobile {
    padding-bottom: 10px;
  }

  .addMore {
    height: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: rgba(227, 255, 168, 1);
    background: rgba(15, 15, 15, 1);
    border: 1px solid transparent;
    display: inline-block; /* elements are located on the same level*/
    margin-top: 16px;
  }
  .buttonConfirm {
    display: flex;
    flex-direction: column; /* column */
    justify-content: flex-start; /* left */
  }
  .cancel {
    order: 2;
    color: rgba(182, 182, 182, 1);
    font-size: 14px;
    line-height: 20px;
    border: 1px solid transparent;
    background-color: rgba(15, 15, 15, 1);
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .confirm {
    order: 1;
    width: 276px;
    height: 36px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: rgba(15, 15, 15, 1);
    background-color: rgba(227, 255, 168, 1);
    border-radius: 12px;
    display: flex;
    justify-content: center; /*Align text horizontally in the center */
    align-items: center;
    margin-top: 20px;
  }
}

/* ////////////////////////////////////////// */
@media screen and (min-width: 834px) {
  .containerDextop {
    width: 676px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .containerDiary {
    width: 518px;
    padding-right: 10px;
  }
  .link {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }
  .diary {
    margin-right: 10px;
    width: 57px;
    height: 32px;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: rgba(255, 255, 255, 1);
  }
  .seeMore {
    width: auto;
    height: 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    white-space: nowrap; /* Prohibit text wrapping on a new line */
  }
  .breakfastImage {
    width: 36px;
    height: 36px;
    /* margin-left: 25px; */
    margin-right: 10px;
  }
  .diaryBreakfast {
    width: 100px;
    height: 24px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    margin-left: 25px;
    margin-right: 10px;
  }
  .diaryMobile {
    display: flex;
    /* margin-top: 20px; */
    align-items: center;
  }

  /* ////////////////////////////////////// */
  .overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* height: 408px; */
    border-radius: 12px;
    background-color: rgba(15, 15, 15, 1);
    z-index: 1000;
    display: none; /* Invisible by default*/
    overflow-y: auto;
    box-shadow: 0px 4px 14px rgba(227, 255, 168, 0.2);
  }

  .img {
    margin-top: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
    width: 268px;
    height: 36px;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: rgba(255, 255, 255, 1);
  }

  .breakfast {
    vertical-align: middle;
    height: 32px;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: rgba(255, 255, 255, 1);
    /* margin-bottom: 5px; */
  }
  .nameBreakfast {
    width: 104px;
    height: 32px;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: rgba(255, 255, 255, 1);
  }
  .flexContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    display: inline-flex;
  }
  .containerLabel {
    display: inline-flex;
    margin-bottom: 20px;
  }

  .addMore {
    height: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: rgba(227, 255, 168, 1);
    background: rgba(15, 15, 15, 1);
    border: 1px solid transparent;
    display: inline-block; /* elements are located on the same level*/
    margin-top: 25px;
    margin-left: 25px;
  }

  .remove {
    background-color: rgba(15, 15, 15, 1);
    color: rgba(227, 255, 168, 1);
    font-size: 14px;
    line-height: 20px;
    border: 1px solid transparent;
  }
  .cancel {
    color: rgba(182, 182, 182, 1);
    font-size: 14px;
    line-height: 20px;
    border: 1px solid transparent;
    background-color: rgba(15, 15, 15, 1);
  }
  .confirm {
    width: 192px;
    height: 36px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: rgba(15, 15, 15, 1);
    background-color: rgba(227, 255, 168, 1);
    border-radius: 12px;
    display: flex;
    justify-content: center; /*Align text horizontally in the center */
    align-items: center;
    margin-left: 80px;
    /* margin: 0; */
  }
  .buttonConfirm {
    display: flex;
    align-items: center; /* Align vertically in the center */
    gap: 10px;
    margin-top: 110px;
    margin-left: 300px;
    margin-bottom: 20px;
  }

  .seeMore {
    width: auto; /* Let's change the width to auto so that the text can stretch to the entire available width */
    height: 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    white-space: nowrap; /* 
  Prohibit text wrapping on a new line */
  }
  .breakfastImage {
    width: 36px;
    height: 36px;
  }
  .diaryBreakfast {
    width: 100px;
    height: 24px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    margin-left: 25px;
    margin-right: 0;
  }
  .divBreakfast {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .openModal {
    width: 150px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: rgba(227, 255, 168, 1);
    background-color: black;
    border: 1px solid transparent;
    /* padding: 5px 10px; */
    cursor: pointer;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
  }
  .carbonohidrates {
    margin-right: 25px;
    margin-left: 43px;
    width: 200px;
  }
  .breakfastProtein {
    margin-right: 25px;
    width: 110px;
  }
  .linkFood {
    width: 518px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
  }
/* /////////////// */
  /* .modalOpen {
    overflow: hidden;
  }
  .modalOpen .modalBackground {
    pointer-events: auto;
    display: block;
  }
  
  
  .modalContent {
    display: none;
  } */
}

.inputCPFC {
  border: 1px solid rgba(227, 255, 168, 1);
  border-radius: 12px;
  width: 86px;
  height: 36px;
  font-size: 14px;
  line-height: 20px;
  color: rgba(182, 182, 182, 1);
  font-family: Poppins;
  padding-left: 10px;
  gap: 10px;
  background: black;
  margin-right: 10px;
}
.input {
  border: 1px solid rgba(227, 255, 168, 1);
  border-radius: 12px;
  width: 255px;
  height: 36px;
  font-size: 14px;
  line-height: 20px;
  color: rgba(182, 182, 182, 1);
  font-family: Poppins;
  padding-left: 10px;
  gap: 10px;
  background: black;
  margin-right: 10px;
}

.inputError {
  border: 2px solid #e74a3b;
}
.input::placeholder {
  color: var(--color-primary-grey, #b6b6b6);
  font-size: 14px;
  line-height: 1.43;
}
 button:disabled {
  background-color: #b6b6b6;
}
